@charset "utf-8";
/* 年齢認証 */

.ageAuthLinkList {
	margin-top:5px;
	padding-top:5px;
	border-top:1px solid #555;
	border-collapse:collapse;
}

.ageAuthLinkList thead th {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #555;
}

.ageAuthLinkList tbody td {
	margin-top:10px;
	padding-top: 5px;
	border-bottom:1px solid #555;
	padding-bottom: 5px;
}


#DelAALinkDlg {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_titleDelAgeAuthLink {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../jq/css/images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_contentDelAgeAuthLink {
	background: 16px 16px no-repeat url(../jq/css/images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_contentDelAgeAuthLink.alert {
	background-image: url(../jq/css/images/info.gif);
}

#popup_contentDelAgeAuthLink.confirm {
	background-image: url(../jq/css/images/important.gif);
}

#popup_contentDelAgeAuthLink.prompt {
	background-image: url(../jq/css/images/help.gif);
}

#popup_messageDelAgeAuthLink {
	padding-left: 48px;
}

#popup_panelDelAgeAuthLink {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_promptDelAgeAuthLink {
	margin: .5em 0em;
}
