@charset "utf-8";
/* 人妻リスト */

h1 {
  background-color: #ef0d92;
  color: #fff;
  margin-top: 10px;
  padding: 4px;
}

.thumbnail .wifeNameO {
  overflow:hidden;
  padding-left:5px;
  padding-right:5px;
}


/* 追加分 */
/* DECO_CSS_BEG */
/* ALBUM_CSS_VAL_STR */
/* DECO_CSS_END */
