@charset "utf-8";
/* TOPページ */
#hdW {
  overflow: hidden;
  position: relative;
}


#hdW img.imgTop {
  top: 0;
  left: 0;
}


#hdW img.img2 {
  top: 0;
  position: absolute;  /*relative;*/
}

div.newsDigestO a {

  color:#000;
  text-decoration:none;
}
