@charset "utf-8";
/* TOPページ */
#hdW {
  overflow: hidden;
  position: relative;
}


#hdW img.imgTop {
  top: 0;
  left: 0;
}


#hdW img.img2 {
  top: 0;
  position: absolute;  /*relative;*/
}

div.newsDigestO a {

  color:#000;
  text-decoration:none;
}

/* サイドバー */
.sideBarStr {
  text-align:left;
}

/* 写メ日記 */
.photoDiary {
  overflow: auto;
  height: 500px;
}

.photoDiaryIndex {
  padding: 0px;
  margin-bottom: 0px;
  height: 430px;
  /* width: 256px; */
  width: 100%;
  overflow: auto;
  /* overflow: scroll; */
  /* display: inline-block; */
  display: block;
}

iframe.diaryFrame {
  border: none;
  display: block;
  /* overflow: auto; */
  width: 100%;
  /* width: 256px; */
  /* width: 240px; */
  /* height: 100%; */
  /* height: 430px; */
  height: 740px;
  margin-top: -310px;
}

/* サイドバー */
.sideBarSect {
  margin:10px;
}

/* ニュース */
.topInfo div.newsDigestO:last-child {

  border-bottom-style: none;
}

.newsDigestO {
  text-align:left;
}

.newsDateTitle {
  margin-left:10px;
}

.newsString {
  margin-left:10px;
}

/* システム */
.systemVal {
  overflow:visible;
  height:auto;
  padding-bottom:10px;
}
/* 求人 */
.recruitVal {
  overflow:visible;
  height:auto;
  padding-bottom:10px;
}

/* フッタ */
.footerCaution {
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #ccc;
}

.topInfo {
  margin-bottom:15px;
}


/* 追加分 */
/* TOP_CSS_BEG */
/* TOP_CSS_VAL_STR */
/* TOP_CSS_END */
