@charset "utf-8";
/* 共通 */
@font-face {
  font-family: "fontsA";
  src: url("../fonts/fontsA.woff") format('woff');
}

#allArea {
  margin: 0 auto;
}

.navbar {
  margin-top:5px;
  margin-bottom:5px;
}

h2 {
  background-color: #ef0d92;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  color: #fff;
}


#mainArea {
  margin-bottom:10px;
  padding-left:0px;
}


.topInfo {
  border: 1px solid #aaaaaa;
  margin-bottom: 15px;
  background-color: #ea91c5;
}


/***** ニュース *****/
div.newsDigestO {
  border-bottom: 1px solid #0000ff;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

div.newsContentO {
  border: 1px solid #0000ff;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}


div.newsDate {
	float:left;
}

div.newsTitle {
	float:left;
}


/*** 期間中 ***/
div.newsInTerm {
  font-size:90%;
  width:67px;
  height:34px;

  background-image:url('../img/tri.gif');
  background-repeat:no-repeat;
  background-position:left;

  padding-top:18px;
  padding-left:6px;
  color:#fff;

  float:left;

  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);

  transform: rotate(-45deg);
  margin-left:-25px;
  margin-top:-10px;
}

/*** ダイジェストの文章 ***/
div.newsString {
  overflow: hidden;
  width: auto;
}

/*** 本文へのシェブロン ***/
div.newsShevronO {
  padding-top:20px;
  float:right;
  width:25px;
}

div.newsShevronXS {
  padding-top:5px;
}

div.newsShevronXS {
  padding-top: 5px;
}

div.newsOut {
  min-height: 500px;
}

@media (min-width: 992px) {
  div.newsOut {
    overflow: auto;
    height: 500px;
  }
}


/***** 写メ日記 *****/
div.diaryOut {
  overflow: auto;
  height: 500px;
  background-color: #ea91c5;
  min-height: 500px;
}

@media (min-width: 992px) {
  div.diaryOut {
    overflow: scroll;
    height: 500px;
  }
}


#diaryIndex {
  padding: 0px;
  margin-bottom: 0px;
  width: 100%;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
}
#diaryIndex {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}


iframe.diaryFrame {
  border: none;
  display: block;
  width: 100%;
  height: 740px;
  margin-top: -310px;
}

div.pdList1 {
  float:left;
  width:110px;
  margin-left:5px;
  margin-right:5px;
}


/***** 出勤予定 *****/
#workListI {
  margin-bottom:10px;
  overflow: hidden;
}

#todaysWorkerListW {
  height:250px;
}

div.workerTN div.caption {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
}



.todayWorksOut {
  overflow: scroll;
  height: 500px;
  background-color: #ea91c5;
}


/***** 人妻たち *****/
div.wivesList {
  border: 1px solid #aaaaaa;
  margin-bottom: 15px;
  overflow:scroll;
  /* height: 500px; */
}

div.wivesList div.wifeName {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  background: none;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;

  max-width:110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.photoDispOut {
  height:145px;
  width:110px;
  overflow:hidden;
}


div.thumbnail {
  padding: 3px;
  float: left;
}


div.moreWives {
  bottom: 10px;
  right: 80px;
  float:right;
  margin-right:20px;
}


div.wivesList {
  /* min-height: 500px; */
}

@media (min-width: 992px) {
  div.wivesList {
    overflow: auto;
    /* height: 500px; */
  }
}



div.moreWives a:link {
  font-size:16px;
}

div.moreWives a:link {
  color:#555;
}
div.moreWives a:visited {
  color:#555;
}

#wivesListI {
  margin-bottom:10px;
  overflow: hidden;
}



/***** 料金システム *****/
#system {
  border: 1px solid #aaaaaa;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

div.systemList {
  color:#111;
  font-size:18px;
}

div.priceList {
  border:1px solid #aaaaaa;
  margin-bottom:10px;
  padding-bottom:20px;
}

table.priceList {
  margin-bottom:10px;
}

table.priceList td {
  padding:5px;
}


div.priceStr {
  text-align:left;
}


/***** 右 *****/
div.rightBar img {
  margin-bottom:15px;
}

#goTop {
  color:#555;
}

#newsTriO {
  display:none;
}



/***** 写メ日記 *****/
div.photoDiaryList {
  border: 1px solid #aaaaaa;
  margin-bottom: 10px;
}


#moreDiary {
  position: absolute;
  bottom: 8px;
  right: 15px;
}

#moreDiary a:link {
  font-size:16px;
}

#moreDiary a:link {
  color:#555;
}
#moreDiary a:visited {
  color:#555;
}


#pdListO {
  margin-bottom: 35px;
  overflow: hidden;
}


/***** カルーセル *****/
div.flipLeft {
  float:left;
}

input.flipLeftBtn {
  background:url('../img/shevron30WL.gif') no-repeat center;
  background-color:#f57936;
}

#photoAll {
  float:left;
}

div.flipRight {
  float:right;
}

input.flipRightBtn {
  background:url('../img/shevron30W.gif') no-repeat center;
  background-color:#f57936;
}


.flipPhoto {
  width:30px;
  height:50px;
  margin:0px;
  padding:0px;
}


div.photoCarousel {
  text-align:center;
}

div.carouselList {
  float: left;
  background-color: #ffffff;
  padding: 5px;
  height:210px;

  border-radius: 10px;			/* CSS3草案 */  
  -webkit-border-radius: 10px;	/* Safari,Google Chrome用 */  
  -moz-border-radius: 10px;		/* Firefox用 */  
}


div.carouselList img {
  border-radius: 5px;			/* CSS3草案 */  
  -webkit-border-radius: 5px;	/* Safari,Google Chrome用 */  
  -moz-border-radius: 5px;		/* Firefox用 */  
}

div.carouselList a         {color:#000;}
div.carouselList a:hover   {color:#000;}
div.carouselList a:visited {color:#000;}
div.carouselList a:active  {color:#000;}


h2.topH2 {
  background-repeat:no-repeat;
  background-position:center;
  margin:0 auto;
}

div.h2Str {
  position:absolute;
  top:0;
  left:0;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}


/***** 求人 *****/
div.recruitStr {
  border:1px solid #aaaaaa;
  margin-bottom:10px;
  padding-bottom:20px;
}



@media (min-width: 1200px) {
  .topInfo {
    overflow: scroll;
    height: 500px;
    margin-bottom: 10px;
  }

  .todayWorksOut3, .todayWorksOut6 {
    float: right;
    margin-left: 0px;
  }

  div.photoDiaryList {
    width: 872px;
  }
}


@media (min-width: 992px) {
  .topInfo1, .topInfo3, .topInfo5 {
    margin-left: 0px;
  }
  .topInfo2, .topInfo4, .topInfo6 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .topInfo {
    margin-bottom: 6px;
  }

  div.photoDiaryList {
    width: 643px;
  }
}


/***** 404エラー *****/
#receptA {
  line-height:36px;
  font-size:18px;
}

#receptB {
  font-size:18px;
  display:none;
}

.nosendMail {
  color:#f00;
}

/* DECO_CSS_BEG */
/* DECO_CSS_VAL_STR */
/* DECO_CSS_END */
