@charset "utf-8";
/* 年齢認証 */

body,td,th {
	color: #CCCCCC;
	font-size: 12px;
}
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

.ageAuthStr {
	text-align:center;
}

.mainArea {
	text-align:center;
}

a:link {
	color: #FFFF00;
}
a:visited {
	color: #FF0000;
}

table.fav {
	border-style:none;
	border-collapse:collapse;
}

.banners {
	width: 750px;
}

.linkExchange {
	margin-top:20px;
	border-top:1px solid #fff;
}

img.banner {
	width: 88px;
	height: 31px;
	margin-left: 1px;
	margin-right: 1px;
	border: 0px;
}

.footer {
	border-top:1px solid #fff;
	margin-top:5px;
	padding-top:5px;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 0.125em;
	text-align: center;
}

.toMO {
	color:#ff0;
	font-size:1.2em;
}
